<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css">
    <link rel="stylesheet" href="{% static 'masterBikes/css/General.css' %}">
</head>
<body class="bg">
    <div class="container-fluid bg-dark">
    <nav class="navbar navbar-expand-lg navbar-success bg-success ">
        <div class="container-fluid  d-flex justify-content-center">

            <a class="navbar-brand text-dark " href="{% url 'home' %}" id="titulo" >
                <img src="{% static 'masterBikes/img/bici.png' %}" width="100" height="50">
                MasterBikes
            </a>
            <button class="navbar-toggler bg-dark" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon "></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                <li class="nav-item ">
                    <a class="nav-link active text-dark "  aria-current="page" href="{% url 'home' %}">Inicio</a>
                </li>
                {% if request.user.is_staff %}
                <li class="nav-item">
                    <a class="nav-link text-dark" href="{% url 'formbici' %}">Subir bici</a>
                </li>
                {% endif %}
                </ul>
                
            </div>
            {% if request.user.is_authenticated %}
            {{ request.user.username }}
            {% endif %}
            <div class="dropdown bg-success float-start">
                <button class="btn btn-secondary dropdown-toggle bg-success border border-dark" type="button"
                    id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="bi bi-person-circle"></i>
                </button>
                <div class="dropdown-menu dropdown-menu-success" style="z-index: 9999;" aria-labelledby="dropdownMenuButton">
                    {% if request.user.is_authenticated %}
                    <a class="dropdown-item" href="{% url 'perfil' %}">Perfil</a>
                    <a class="dropdown-item" href="{% url 'logout' %}">Cerrar sesion</a>
                    {% else %}
                    <a class="dropdown-item" href="{% url 'InicioSesion' %}">Iniciar sesion</a>
                    <a class="dropdown-item" href="{% url 'registro' %}">Registrarse</a>
                    {% endif %}
                </div>
            </div>
        </div>

    </nav>


    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
        {{ message.message }}
        <button type="button" class="close" data-bs-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {% endfor %}
    {% endif %}
    {% block content %}
    {% endblock content %}



    {% block script %}
    {% endblock script %}

</div>
</body>
</html>